.player-name {
  margin-bottom: 10px;
  
}

/* Apply styles to the disabled button */
.lets-play-button:disabled {
  background-color: rgba(255, 0, 0, 0.4); /* Dimmed red with transparency */
  cursor: not-allowed;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Apply styles to the enabled button */
.lets-play-button:not(:disabled) {
  background-color: rgba(255, 0, 0, 0.8); 
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.player-name input {
  width: 75%; 
  padding: 10px; 
  font-size: 18px; 
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8); /* Glassy effect with transparency */
}

.welcome-page{
  font-size: 25px;
}